# dependencies
node_modules
client/node_modules
server/node_modules

# env files
.env
client/.env
server/.env

# build files
dist
client/dist
server/dist

# uploads / temporary files
server/uploads

# system files
.DS_Store
Thumbs.db