PORT=3001
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/cookoff-dare-arena?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5170
SHOPIFY_STORE_URL=http://localhost:5170
SHOPIFY_GAME_URL=http://localhost:5170
